body.login {
	background: #333;
	color: #fff;
	margin: 100px;
	z-index: 200;
}

.loginWrap {
	background: transparent url(../images/overlay.png);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

input {

}

input.go {

}