{% load thumbnail %}


{% if image.file %}
    {% if constraint %}
        {% thumbnail image.file constraint crop=crop as thumb %}
            {{ thumb.url }}
        {% endthumbnail %}
    {% else %}
        {{ image.file.url }}
    {% endif %}
{% else %}
    {% if defaultimage %}
        {% if constraint %}
            {% thumbnail defaultimage constraint crop=crop as thumb %}
                {{ thumb.url }}
            {% endthumbnail %}
        {% else %}
            {{ defaultimage }}
        {% endif %}
    {% endif %}
{% endif %}



 

