{% load djangocms2000_tags %}

<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.MEDIA_URL }}css/cms.css">
{% include "djangocms2000/cms/jquery-include.html" %}
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.cookie.js"></script>
<script>
(function ($) {
	 $.cookie('djangocms2000-edit_mode', 1, {path: '/'});
})(jQuery); 
</script>

<div id="djangocms2000-menu">
	<div>
		
		<form method="post" action="{% url djangocms2000.views.login %}">
		{% csrf_token %}
		
		<p>
			Login to edit {{ site_name }}
		</p>
		<p>
			{{ login_form.username }}
			{{ login_form.password }}
			<input type="submit" value="Go" class="go" />
		</p>
		
		
		<input type="hidden" name="next" value="{% firstof next request.path_info '/' %}" />
		</form>


	</div>
</div>