
input.djangocms2000,
textarea.djangocms2000 {
    width: 700px;
}
textarea.djangocms2000-html {
    height: 300px;
}



.mceToolbar {
    width: auto !important;
}

.mceFirst, .mceLast {
    padding-top: 0 !important;
}
