{% load thumbnail %}



{% if editable %}
<div class='cms-image {% if not image.file %}placeholder{% endif %}' blocktype="image" label='{{ label }}' image_id='{{ image.id }}'>
{% endif %}



{% if image.file %}
    {% if crop %}
        {% thumbnail image.file constraint crop as thumb %}
    {% else %}
        {% thumbnail image.file constraint as thumb %}
    {% endif %}
    <img src="{{ thumb }}" alt="{{ image.description }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
{% else %}
    {% if defaultimage %}
        {% if crop %}
            {% thumbnail defaultimage constraint crop as thumb %}
        {% else %}
            {% thumbnail defaultimage constraint as thumb %}
        {% endif %}
        <img src="{{ thumb }}" alt="Default image" width="{{ thumb.width }}" height="{{ thumb.height }}">
    {% else %}
        {% if editable %}
            Click to add image {{ label }} for {{ content_object }}
        {% endif %}
    {% endif %}
{% endif %}



{% if editable %}
</div>
{% endif %}







