{% load thumbnail %}



{% if editable %}
<div class='cms-image {% if not image.file %}placeholder{% endif %}' blocktype="image" label='{{ label }}' image_id='{{ image.id }}' constraint="{{constraint}}">
{% endif %}



{% if image.file %}
    {% if constraint %}
        {% thumbnail image.file constraint crop=crop as thumb %}
            <img src="{{ thumb.url }}" alt="{{ image.description }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
        {% endthumbnail %}
    {% else %}
        <img src="{{ image.file.url }}" alt="{{ image.description }}" width="{{ image.dimensions.width }}" height="{{ image.dimensions.height }}">
    {% endif %}
{% else %}
    {% if defaultimage %}
        {% if constraint %}
            {% thumbnail defaultimage constraint crop=crop as thumb %}
                <img src="{{ thumb.url }}" alt="Default image" width="{{ thumb.width }}" height="{{ thumb.height }}">
            {% endthumbnail %}
        {% else %}
            <img src="{{ defaultimage }}" alt="Default image">
        {% endif %}
    {% else %}
        {% if editable %}
            Click to add image {{ label }} for {{ content_object }}
        {% endif %}
    {% endif %}
{% endif %}



{% if editable %}
</div>
{% endif %}







 