{% load cms_tags %}

<link rel="stylesheet" type="text/css" href="{{ cms_settings.STATIC_URL }}css/cms.css">
<script type="text/javascript" src="{{ cms_settings.STATIC_URL }}lib/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{ cms_settings.STATIC_URL }}lib/jquery.cookie.js"></script>
<script>
var cms_jQuery = jQuery.noConflict(true);
(function ($) {
	 $.cookie('cms-edit_mode', 1, {path: '/'});
})(cms_jQuery);
</script>

<div id="cms-menu">
	<div>
		
		<form method="post" action="{% url cms.views.login %}">
		{% csrf_token %}
		
		<p>
			Login to edit {{ site_name }}
		</p>
		<p>
			{{ login_form.username }}
			{{ login_form.password }}
			<input type="submit" value="Go" class="go" />
		</p>
		
		
		<input type="hidden" name="next" value="{% firstof next request.path_info '/' %}" />
		</form>


	</div>
</div>