{% load djangocms2000_tags %}

{% zealousspaceless %}
<span class='djangocms2000-block {{ format }} {% if not block.compiled_content %}placeholder{% endif %} {% if content_object.app_label == 'sites' and content_object.module_name == 'site' %}sitewide{% endif %}' label='{{ label }}' block_id='{{ block.id }}' format="{{ format }}">
	<input type="hidden" name="raw_content" value="{{ block.raw_content }}">
	
	<span class="inner">
{% endzealousspaceless %}{% if block.compiled_content %}{% ifequal format "html" %}{{ block.compiled_content|safe }}{% else %}{% ifequal format "markdown" %}{{ block.compiled_content|safe }}{% else %}{{ block.compiled_content }}{% endifequal %}{% endifequal %}{% else %}Click to add text{% endif %}{% zealousspaceless %}
	</span>
</span>
{% endzealousspaceless %}