
<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.MEDIA_URL }}css/cms.css">
{% if djangocms2000_settings.CUSTOM_STYLESHEET %}
<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.CUSTOM_STYLESHEET }}">
{% endif %}
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.color.js"></script>
<!--<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.cookie.js"></script>-->
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.form.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}js/cms.js"></script>
<script type="text/javascript">
if (!$.browser.msie) {
	$(function() {
	    djangocms2000($, "{{ djangocms2000_settings.HIGHLIGHT_START_COLOR }}", "{{ djangocms2000_settings.HIGHLIGHT_END_COLOR }}", null, "{{ djangocms2000_settings.FILEBROWSER_URL_ADMIN }}");
    });
}
else {
	$('#getarealbrowser').css({'display':'block'});
}
</script>

<div id="djangocms2000-htmloverlay">
	
	<div id="djangocms2000-htmlform">
		<form action="/djangocms2000/actions/saveblock/" method="post">

		<h2>Edit text</h2>
		{% for el in editor_form %}
		{{ el }}
		{% endfor %}

		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">

		</form>
		<div class="clear"></div>
	</div>

</div>

<div id="djangocms2000-menu">
	<div>
		<span class="status">
			{% if request.user.first_name %}
			You are logged in as {{ request.user.first_name }} {{ request.user.last_name }}
			{% endif %}
			&nbsp;
			<a href="/djangocms2000/logout/?from={{ request.path_info }}">Log me out</a>
		</span>
		
		{% if page %}
		This page is editable.
		{% else %}
		This page has no editable regions.
		{% endif %}
	</div>
	<div id="getarealbrowser">
		Sorry, Microsoft Internet Explorer is not supported. Please download <a href="http://getfirefox.com">Firefox</a> in order to use the editor. Alternately, you can edit this page in the <a href="/admin/">Admin site.</a> 
	</div>
</div>

<div id="djangocms2000-textform">
	<form action="/djangocms2000/actions/saveblock/" method="post">
	{% for el in editor_form %}
	{{ el }}
	{% endfor %}
	<input type="submit" name="submit" value="Save" class="save">
	<input type="button" value="Cancel" class="cancel">
	</form>
	<div class="clear"></div>
</div>


<div id="djangocms2000-imageoverlay">
	
	<div id="djangocms2000-imageform">
		<form action="/djangocms2000/actions/saveimage/" method="post" enctype="multipart/form-data">
		<h2>Add image</h2>
		<hr>
		<div class="current">
			<h4>Currently:</h4>
			<img src="">
			<input type="submit" name="delete" value="Delete current" class="delete">
		</div>
		
		<div class="form">
		    <table>
                {{ image_form }}
		    </table>
		</div>	
		<div class="clear"></div>

		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">
		</form>
		<div class="clear"></div>
	</div>
</div>