{% load djangocms2000_tags %}

<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.MEDIA_URL }}css/cms.css">
{% if djangocms2000_settings.CUSTOM_STYLESHEET %}
<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.CUSTOM_STYLESHEET }}">
{% endif %}
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}tiny_mce/tiny_mce.js"></script>
{% include "djangocms2000/cms/jquery-include.html" %}
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.color.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.form.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}js/cms.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}js/edit-mode-switcher.js"></script>
<script type="text/javascript">
if (!$.browser.msie) {
	$(function() {
	    djangocms2000(
	        $,
	        "{{ djangocms2000_settings.HIGHLIGHT_START_COLOR }}",
	        "{{ djangocms2000_settings.HIGHLIGHT_END_COLOR }}",
	        null,
	        "{{ djangocms2000_settings.FILEBROWSER_URL_ADMIN }}",
	        "{{ djangocms2000_settings.TINYMCE_BUTTONS }}",
	        "{{ djangocms2000_settings.TINYMCE_CONTENT_CSS }}",
	        "{% url djangocms2000.views.linklist %}",
	        {% if request.user.is_superuser %}1{% else %}0{%endif %}
	    );
    });
}
else {
	$('#getarealbrowser').css({'display':'block'});
}
</script>

<div id="djangocms2000-htmloverlay">
	
	<div id="djangocms2000-htmlform">
		<form action="{% url djangocms2000.views.saveblock %}" method="post">
        {% csrf_token %}
		<h2>Edit text</h2>
		{% for el in editor_form %}
		{{ el }}
		{% endfor %}

		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">

		</form>
		<div class="clear"></div>
	</div>

</div>

<div id="djangocms2000-menu">
	<div>
		<span class="status">
			{% if request.user.first_name %}
			You are logged in as {{ request.user.first_name }} {{ request.user.last_name }}
			{% endif %}
			&nbsp;
			<a class="edit-switcher off">Stop editing</a>
			/
			<a href="{% url djangocms2000.views.logout %}?from={{ request.path_info }}">Log me out</a>
		</span>

		{% if page and not page.is_live %}
        This page is a draft - <a href="/admin/djangocms2000/page/{{ page.pk }}/">click here</a> to make it live.
        {% endif %}
        
		{% comment %}
		{% if page %}
		This page is editable. 
		{% else %}
		This page has no editable regions.
		{% endif %}
		{% endcomment %}
	</div>
	<div id="getarealbrowser">
		Sorry, Microsoft Internet Explorer is not supported. Please download <a href="http://getfirefox.com">Firefox</a> in order to use the editor. Alternately, you can edit this page in the <a href="/admin/">Admin site.</a> 
	</div>
</div>

<div id="djangocms2000-textform">
	<form action="{% url djangocms2000.views.saveblock %}" method="post">
	{% csrf_token %}
	{% for el in editor_form %}
	{{ el }}
	{% endfor %}
	<input type="submit" name="submit" value="Save" class="save">
	<input type="button" value="Cancel" class="cancel">
	</form>
	<div class="clear"></div>
</div>


<div id="djangocms2000-imageoverlay">
	
	<div id="djangocms2000-imageform">
		<form action="{% url djangocms2000.views.saveimage %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h2>Add image</h2>
		<hr>
		<div class="current">
			<h4>Currently:</h4>
			<img src="">
			<input type="submit" name="delete" value="Delete current" class="delete">
		</div>
		
		<div class="form">
		    <table>
                {{ image_form }}
		    </table>
		</div>	
		<div class="clear"></div>

		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">
		</form>
		<div class="clear"></div>
	</div>
</div>