{% load djangocms2000_tags %}

<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.MEDIA_URL }}css/cms.css">
{% if djangocms2000_settings.CUSTOM_STYLESHEET %}
<link rel="stylesheet" type="text/css" href="{{ djangocms2000_settings.CUSTOM_STYLESHEET }}">
{% endif %}
{% include "djangocms2000/cms/jquery-include.html" %}
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.color.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}lib/jquery.form.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}js/cms.js"></script>
<script type="text/javascript" src="{{ djangocms2000_settings.MEDIA_URL }}js/edit-mode-switcher.js"></script>
<script type="text/javascript">
if (!$.browser.msie) {
	function setupDjangocms2000 () {
	    djangocms2000(
	        jQuery,
	        "{{ djangocms2000_settings.HIGHLIGHT_START_COLOR }}",
	        "{{ djangocms2000_settings.HIGHLIGHT_END_COLOR }}",
	        null,
	        "{{ djangocms2000_settings.FILEBROWSER_URL_ADMIN }}",
	        "{{ djangocms2000_settings.TINYMCE_BUTTONS }}",
	        "{{ djangocms2000_settings.TINYMCE_CONTENT_CSS }}",
	        "{% url djangocms2000.views.linklist %}",
	        {% if request.user.is_superuser %}1{% else %}0{%endif %}
	    );
	}
	$(setupDjangocms2000);
}
else {
	$('#getarealbrowser').css({'display':'block'});
}
</script>

<div id="djangocms2000-htmloverlay" class="djangocms2000-overlay">
	
	<div id="djangocms2000-htmlform" class="djangocms2000-form">
		<form action="{% url djangocms2000.views.saveblock %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="prefix" value="{% firstof html_editor_form.prefix '' %}">
		<h2>Edit text</h2>
		{% for el in html_editor_form %}
		{{ el }}
		{% endfor %}

		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">

		</form>
		<div class="clear"></div>
	</div>

</div>

{% if page_form %}
<div id="djangocms2000-pageoverlay" class="djangocms2000-overlay">
    
    <div id="djangocms2000-pageform" class="djangocms2000-form">
        <form action="{% url djangocms2000.views.savepage page.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="prefix" value="{% firstof page_form.prefix '' %}">
        <h2>Edit page {{ page }}</h2>

        <div class="wrap">
            {{ page_form.as_p }}
        </div>
        
        <input type="submit" name="submit" value="Save" class="save">
        <input type="button" value="Cancel" class="cancel">
        </form>
        <div class="clear"></div>
    </div>
</div>
{% endif %}
<div id="djangocms2000-newpageoverlay" class="djangocms2000-overlay">
    <div id="djangocms2000-newpageform" class="djangocms2000-form">
        <form action="{% url djangocms2000.views.savepage %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="prefix" value="{% firstof new_page_form.prefix '' %}">
        <h2>Create a new page</h2>

        <div class="wrap">
            {{ new_page_form.as_p }}
        </div>
        
        <input type="submit" name="submit" value="Save" class="save">
        <input type="button" value="Cancel" class="cancel">
        </form>
        <div class="clear"></div>
    </div>
</div>


<div id="djangocms2000-menu">
	<div>
		<span class="status">
			{% if request.user.first_name %}
			You are logged in as {{ request.user.first_name }} {{ request.user.last_name }}
			{% endif %}
			&nbsp;
			{% if page_form %}
			<a class="page-options"href="{% url admin:djangocms2000_page_change page.pk %}">Page options</a>
			/
			{% endif %}
			<a class="new-page" href="{% url admin:djangocms2000_page_add %}">New page</a>
			/
			<a class="edit-switcher off">Stop editing</a>
			/
			<a href="{% url djangocms2000.views.logout %}?from={{ request.path_info }}">Log me out</a>
		</span>

		{% if page and not page.is_live %}
        This page is a draft - <a href="{% url admin:djangocms2000_page_change page.pk %}" class="page-options">click here</a> to make it live.
        {% endif %}
        
		{% comment %}
		{% if page %}
		This page is editable. 
		{% else %}
		This page has no editable regions.
		{% endif %}
		{% endcomment %}
	</div>
	<div id="getarealbrowser">
		Sorry, Microsoft Internet Explorer is not supported. Please download <a href="http://getfirefox.com">Firefox</a> in order to use the editor. Alternately, you can edit this page in the <a href="/admin/">Admin site.</a> 
	</div>
</div>

<div id="djangocms2000-textform" class="djangocms2000-form">
	<form action="{% url djangocms2000.views.saveblock %}" method="post">
	{% csrf_token %}
	{% for el in editor_form %}
	{{ el }}
	{% endfor %}
	<input type="submit" name="submit" value="Save" class="save">
	<input type="button" value="Cancel" class="cancel">
	</form>
	<div class="clear"></div>
</div>



<div id="djangocms2000-imageoverlay" class="djangocms2000-overlay">
	
	<div id="djangocms2000-imageform" class="djangocms2000-form">
		<form action="{% url djangocms2000.views.saveimage %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h2>Add image</h2>
		<hr>
		<div class="wrap">
            <div class="current">
                <h4>Currently:</h4>
                <img src="">
                <input type="submit" name="delete" value="Delete current" class="delete">
            </div>
            
            <div class="form">
                {{ image_form.as_p }}
            </div>	

    		<div class="clear"></div>
        </div>
        
		<input type="submit" name="submit" value="Save" class="save">
		<input type="button" value="Cancel" class="cancel">
		</form>
		<div class="clear"></div>
	</div>
</div>
