
.cms-image {
	z-index: 20;
	cursor: pointer;
}
.cms-image.placeholder,
.cms-block.placeholder {
	font-style: italic;
	opacity: 0.6;
}
.cms-image.placeholder {
    text-align: center;
    background-color: #ddd;
    background-color: rgba(127, 127, 127, 0.1);
}

.cms-block {
	display: block;
	padding: 1px;
	margin: -1px;
	cursor: pointer;
}
.cms-block.hovered,
.cms-image.placeholder.hovered {
	background: #D1F0FF;
	background: rgba(0, 127, 255, 0.3);
}
.cms-block.cms-highlight {
    background: #ff0;
}
.cms-block.cms-highlight-animate {
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms;
}

.cms-block.hovered:before,
.cms-image.hovered:before {
  content: 'Edit';
  float: left;
  margin: 0 -50px -25px 0;
  width: 50px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  color: #aaa;
  z-index: 1;
  text-align: center;
  letter-spacing: 0;
  font-weight: normal;
}

.cms-image span.throbber,
.cms-block span.throbber {
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	height: auto;
	background: none;
	display: block;
	font-style: italic;
	opacity: 0.7;
}

.cms-overlay {
	display: none;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 1;
	overflow: auto;

}
.cms-overlay .cms-form {
	margin: 20px auto;
	width: 760px;
}
.cms-overlay .cms-form .wrap {
    background: #fff;
    margin: 0;
    padding: 20px;
    -webkit-box-shadow: black 0 2px 4px;
    -moz-box-shadow: black 0 2px 4px;
    box-shadow: black 0 2px 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;

}
.cms-overlay .cms-form .wrap p {
    margin-bottom: 20px;
    font-style: italic;
    color: #aaa;
    font-size: 0.9em;
    padding: 5px;

}
.cms-overlay .cms-form .wrap label {
    float: left;
    width: 80px;
    margin-right: 10px;
    display: inline;
    font-style: normal;
    color: #222;
    font-size: 1.11em;
    position: relative;
}
.cms-overlay .cms-form .wrap input {
    display: inline;
    color: #000;
}
.cms-overlay .cms-form .wrap .haserrors {
    background: #ffe;
    border: 1px solid #fdd;
}
.cms-overlay .cms-form .wrap .error {
    margin-bottom: 10px;
    color: red;
    font-size: 1.11em;
    font-style: normal;
    display: block;
}

.cms-overlay .cms-form .wrap .message {
    position: absolute;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    color: #888;
    top: 0;
    left: 0;
    line-height: 100px;
}

.cms-form input.cancel,
.cms-form input.save,
.cms-form input.delete {
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: .5em 1em;
  background: #e5e5e5;
  color: #000;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
}
.cms-form input.save {
  font-weight: bold;
  background: #bbb;
}
.cms-form input.save:hover,
.cms-form input.cancel:hover,
.cms-form input.delete:hover,
.cms-form input.save:focus,
.cms-form input.cancel:focus,
.cms-form input.delete:focus {
    text-decoration: underline;
    outline: none;
}

.cms-overlay .cms-form h2 {
	color: #fff;
	font-size: 30px;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
  -webkit-text-shadow: black 0 2px 4px;
  -moz-text-shadow: black 0 2px 4px;
  text-shadow: black 0 2px 4px;
  border-bottom: 2px solid #eee;
  margin-bottom: 6px;
}

.cms-overlay .cms-form input.cancel,
.cms-overlay .cms-form input.save {
  font-size: 18px;
  float: right;
  margin: 10px 0 0 10px;
}

#cms-imageform .wrap input,
#cms-imageform .wrap label {
    float: none;
    display: block;
    color: #000;
}

#cms-htmlform #id_content {
	/* see tinymce init for size of editor */

}

#cms-imageform .form,
#cms-imageform .current {
	margin-top: 20px;
	float: left;
	width: 49%;
}
#cms-imageform .current img {
	max-height: 150px;
	max-width: 300px;
}

#cms-textform {
	position: relative;
	display: none;
	z-index: 200;
}
#cms-textform #id_content {
	width: 100%;
	height: 30px;
	font-weight: inherit;
	font-family: inherit;
    font-size: inherit;
    text-align: inherit;
	line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
	color: inherit;
	background: none;
	padding: 5px;
	margin: -6px;
	border: 1px solid #ccc;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
#cms-textform .cms-button-wrap {
  position: absolute;
  top: 100%;
  right: 0;
}
#cms-textform .cms-button-wrap input.cancel,
#cms-textform .cms-button-wrap input.save {
  margin-left: 10px;
  float: right;
}

#cms-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 5px 0;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 200;
	font-size: 12px;
}
#cms-menu > div {
	/*width: 960px;*/
	margin: 0 10px;
}
#cms-menu > div span.status {
	float: right;
}
#cms-menu a {
	color: #aaa;
	display: inline-block;
}
#cms-menu input {
	width: auto;
  color: #000;
}
#cms-menu a {
    cursor: pointer;
    margin: 0 5px;
    text-decoration: none;
}
#cms-menu a:hover {
    color: #ccc;
}


#getarealbrowser {
	display: none;
	z-index: 200;
}


.clear { clear: both; }
